.new-entry-view-data{
    height: 150px;
}

.new-entry-button{
    background-image: linear-gradient(to left, #611b20 , #b00107);
    color: rgb(246,246,246);
    padding: 15px 20px;
    font-weight: bolder;
    border: none;
    margin: 25px 50px 25px 100px;
    border-radius: 6px;
    width: 200px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.view-data-button{
    background-image: linear-gradient(to left, #611b20 , #b00107);
    color: rgb(246,246,246);
    padding: 15px 20px;
    font-weight: bolder;
    border: none;
    margin: 25px 0px 25px 100px;
    border-radius: 6px;
    width: 200px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.new-entry-button:hover{
    background-image: linear-gradient(to left, #83252c , #c9060d);
}

.view-data-button:hover{
    background-image: linear-gradient(to left, #83252c , #c9060d);
}

.drop-down-container{
    display: flex;
    height: 100px;
    /* border: 1px solid black; */
}

.drop-down-content{
    margin: 40px 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 25px;
    /* border: 1px solid black; */
}
select{
    background-color: #fff;
}
.drop-down{
    /* border: 1px solid black; */
    margin: 10px 50px;
}
.drop-down-options{
    width: 100%;
    padding: 10px;
}
.get-data-button{
    background-image: linear-gradient(to left, #611b20 , #b00107);
    color: rgb(246,246,246);
    padding: 15px 20px;
    font-weight: bolder;
    border: none;
    margin: 30px 50px;
    border-radius: 6px;
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.get-data-button:hover{
    background-image: linear-gradient(to left, #83252c , #c9060d);
}
.view-data{
    display: flex;
    min-height: 500px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    justify-content: center;
    /* border: 1px solid black; */
}
.view-data-table{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: 30px 0px;
    border-collapse:collapse;

}
.view-data-row_1{
    background-color: #991f23;
    font-weight: bolder;
    color: rgb(246,246,246);
    /* border: 1px solid black; */
    align-items: center;
    text-align: center;
}
.view-data-td{
    width: 145px;
    height: 70px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}
.view-data-td div{
    cursor: pointer;
    
}
.view-data-th{
    height: 70px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}
.view-data-tr{
    height: 70px;
    align-items: center;
    text-align: center;
}
.view-data-body{
    height: 70px;
    /* border: 1px solid black; */
    align-items: center;
    text-align: center;
}

tbody tr:hover{
    /* background-color:#7496f56b; */
    /* background-color: rgba(135, 207, 235, 0.294); */
    background-color: #ff00112f;
}
.view-data-first-column{
    width: 115px;
    height: 70px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    font-weight: bolder;
}
.view-data-pass{
    width: 115px;
    height: 70px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    color: green;
    /* background-color: rgb(103, 190, 16); */
    font-weight: bolder;
}
.view-data-fail{
    width: 115px;
    height: 70px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    color: #c9060d;
    /* background-color: #c9060d; */
    font-weight: bolder;
}
.links-text{
    color: blue;
}
.links-text:hover{
    text-decoration: underline;
}
.view-data-row_1:hover{
    background-color: #991f23 !important;
}