<!-- IT-Workshop-Project -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/view_data.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv = "refresh" content = "5; url = http://127.0.0.1:5500/Lab-5/login.html" /> -->
    <title>View Data | University of Cambridge</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/8/8a/University_of_Cambridge_coat_of_arms.svg">
</head>
<body onload="checkLoginStatus(event)">

    <!-- top-bar -->
    <div class="topbar">
        <div>
            <span class="box text">Admission Test-2021 (Last date to apply 21th May, 2021)</span>
        </div>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <div>
            <span><b><a href="./form.html" class="box link">Apply Now →</a></b></span>
        </div>
    </div>

    <!-- main-menu -->
    <div class="mainmenu">
        <div class="logo">
            <img src="../resources/college-logo.png"/ height="52px" onclick="window.open('index.html','_self')">
        </div>
        <div>
            <span>
                <button class="box button" onclick="window.open('about_us.html','_self')">About Us</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('academics.html','_self')">Academics</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('news.html','_self')">News</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('placements.html','_self')">Placements</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('gallery.html','_self')">Gallery</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('campus_life.html','_self')">Campus Life</button>
            </span>
            <span>
                <button class="box button" onclick="window.open('view_data.html','_self')">Students</button>
            </span>
        </div>     
        <div>
            <button id="login" class="box button2" onclick="goToLogin()" onmouseover="mouseIn()" onmouseout="mouseOut()">Login</button>
        </div>
    </div>

    <!-- new-entry-view-data-container -->
    <div class="new-entry-view-data">
        <br><br>
        <button class="new-entry-button" onclick="window.open('new_entry.html','_self')">New Entry</button>
        <button class="view-data-button" onclick="window.open('view_data.html','_self')">View Data</button>
    </div>

    <!-- drop-down content -->
    <div class="view-data-form">
        <form method="post">
            <div class="drop-down-container">
                <div class="drop-down-content">
                    Select Semester and Branch:
                </div>
                <div class="drop-down">
                    <div class="form-content">
                        <select name="semester" id="semester" >
                            <option value="default">Semester</option>
                            <option value="1">1</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                </div>
                <div class="drop-down">
                    <div class="drop-down-options">
                        <select name="branch" id="branch" >
                            <option value="default">Branch</option>
                            <option value="CSE">CSE</option>
                            <option value="ECE">ECE</option>
                        </select>
                    </div>
                </div>
                <button class="get-data-button" onclick="get_data(event)">Get Data</button>
            </div>
        </form>
    </div>
        
    <!--view-data content  -->
    <div class="view-data">

    </div>

    <!-- bottom-section -->
    <div class="bottom-section">
        <div class="column-container">
            <div class="column">
                <div class="bottom-heading">
                    <div>PARENTS</div>
                </div>
                <div class="bottom-content">
                    <div>Counselling Division</div><br>
                    <div>Hotels in England</div><br>
                    <div>Guest House</div><br>
                    <div>Parent Login</div><br>
                    <div>Programmes Offered</div><br>
                </div>
            </div>
            <div class="column">
                <div class="bottom-heading">
                    <div>UNIVERSITY STUDENTS</div>
                </div>
                <div class="bottom-content">
                    <div>People Orbit</div><br>
                    <div>General Grievance Redressal Committee</div><br>
                    <div>Institute of Emminence (IoE)</div><br>
                    <div>Anti Ragging Committee</div><br>
                    <div>Industrial Visit(Format & Guidelines)</div><br>
                    <div>NATS [National Apprenticeship Training Scheme]</div><br>
                </div>
            </div>
            <div class="column">
                <div class="bottom-heading">
                    <div>OTHER LINKS</div>
                </div>
                <div class="bottom-content">
                    <div>Right to Information</div><br>
                    <div>About Research at Cambridge</div><br>
                    <div>Safety</div><br>
                    <div>Courses in Education</div><br>
                    <div>Programmes Offered</div><br>
                </div>  
            </div>
        </div>
        <div class="social-links">
            <div class="social-content-text">FOLLOW US:</div>
            <div class="social-content-img"><img src="../resources/twitter.svg" width="20px"></div>
            <div class="social-content-img"><img src="../resources/facebook.svg" width="20px"></div>
            <div class="social-content-img"><img src="../resources/linkedin.svg" width="20px"></div>
            <div class="social-content-img"><img src="../resources/instagram.svg" width="20px"></div>
            <div class="social-content-img"><img src="../resources/github.svg" width="20px"></div>
            <div class="social-content-img"><img src="../resources/youtube.svg" width="20px"></div>
        </div>
        <div class="footer">
            <div class="footer-content">© 2021 by University of Cambridge</div>
            <div class="footer-content">Privacy Policy</div>
        </div>
    </div>
    <script type="text/javascript" src="../static/index.js"></script> 
    <script type="text/javascript" src="../static/view_data.js"></script>  

</body>
</html>

